/WebApplication_01/nbproject/private/
/WebApplication_01/build/
/WebApplication_01/dist/
/WebApplication_02/nbproject/private/
/WebApplication_02/build/
/WebApplication04_a/nbproject/private/
/WebApplication04_a/build/
/WebApplication04_b/nbproject/private/
/WebApplication04_b/build/
/WebApplication04_c/nbproject/private/
/WebApplication04_c/build/
/WebApplication_06/nbproject/private/
/WebApplication05_a/nbproject/private/
/WebApplication05_a/build/
/WebApplication_06/build/
/WebApplication07_jsp_a/nbproject/private/
/WebApplication07_jsp_a/build/
/WebApplication07_jsb_b/nbproject/private/
/WebApplication07_jsb_b/build/
/WebApplication07_jsp_b/nbproject/private/
/WebApplication07_jsp_c/nbproject/private/
/WebApplication07_jps_c/nbproject/private/
/WebApplication07_jps_c/build/
/WebApplication07_jsp_b/build/
/WebApplication07_jsp_b/dist/
/WebApplication08_a/nbproject/private/
/WebApplication08/nbproject/private/
/WebApplication08/build/
/WebApplication09/nbproject/private/
/WebApplication09/build/
/WebApplication10/nbproject/private/